html {
    color: white;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1 {
    font-size: 50px;
    text-align: center;
}

a {
    color: aquamarine;
}

.banner h1 {
    font-weight: 300;
    font-size: 42px;
}

.banner h4 {
    font-size: 21px;
    color: gray;
}

#camp {
    padding-bottom: 20px;
}

footer {
    text-align: right;
}